<div class="grid grid-nogutter surface-section text-800 hero">
  <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center ">
    <section>
      <span class="text-6xl font-bold mb-1" style="color: #D2B48C">Katarina </span><span class="text-6xl font-bold mb-1" style="color: #D2B48C">& </span><span class="text-6xl font-bold mb-1" style="color: #D2B48C">Mateo</span>
      <div class="text-6xl font-bold mb-3" style="color: #A67C52">Božićne želje</div>
    </section>
  </div>
  <div class="col-12 md:col-6 overflow-hidden">
    <img src="assets/images/medo-slika.jpg" alt="Image" class="md:ml-auto block max-w-full">
  </div>
</div>

<div class="mt-5">
  <p class="mt-0 mb-4 text-700 line-height-3">Ako želite nešto kupiti, kupite samo 1 dar po obitelji. Hvala vam puno.</p>
</div>
<div class="grid mt-5">
  <div *ngFor="let item of wishlistItems" class="col-12 md:col-6 lg:col-3 flex align-items-stretch">
    <p-card class="w-full">
      <ng-template pTemplate="title">
        <div class="flex align-items-center">
          <img
            [src]="item.imageLink"
            alt="Profile Image"
            class="mr-2"
            style="width: 100px; height: 100px; border-radius: 50%;"
          />
          <div>
            <div class="text-bold" style="color: #365937">{{ item.name }}</div>
            <p class="item-description">{{ item.description }}</p>
            <p class="item-description"><a [href]="item.link" target="_blank">Zum Produkt</a></p>
            <p class="item-description">Preis: {{ item.price }} CHF</p>
            <p-tag *ngIf="item.isReserved" severity="danger" value="Reserviert"/>
            <p-tag *ngIf="!item.isReserved" severity="success" value="Noch verfügbar"/>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="content">
        <div>
          <button (click)="reserveItem(item)" *ngIf="!item.isReserved" pButton label="Reservieren"
                  class="p-button-outlined mr-2" icon="pi pi-check"></button>
          <button (click)="reserveItem(item)" *ngIf="item.isReserved" pButton label="Rückgängig"
                  class="p-button-outlined mr-2" icon="pi pi-undo"></button>
        </div>
      </ng-template>
    </p-card>
  </div>
</div>


